<footer>
  <div class="address">
    <mat-icon>home</mat-icon>
    <p>
      Haliganda, občianske združenie <br />
      Jenisejská 2 Košice, 04012 <br />
      IČO: 35 547 367
    </p>
  </div>
  <div class="contact">
    <mat-icon>person</mat-icon>
    <p>
      e-mail: <a href="mailto:haligandakosice@gmail.com">haligandakosice@gmail.com</a> <br />
      tel. : <a href="tel:+421908659735">0908659735</a>
    </p>
  </div>
  <div class="bank">
    <mat-icon>account_balance_wallet</mat-icon>
    <p>SK98 1100 0000 0026 2172 1045</p>
  </div>
  <div class="social">
    <mat-icon>public</mat-icon>
    <div class="margin-top1">
      <a href="https://www.facebook.com/MCHaliganda/" target="_blank">Facebook - Haliganda</a>
      <a href="https://www.facebook.com/skolaamadeus/" target="_blank">Facebook - Amadeus</a>
      <a href="https://www.facebook.com/divadlohaliganda/" target="_blank">Facebook - Divadlo Haliganda</a>
      <a href="https://www.youtube.com/channel/UC3xXyL__uFjWoydZvXHpV4A" target="_blank">YouTube</a>
    </div>
  </div>
</footer>
