<footer>
  <div class="address">
    <mat-icon>home</mat-icon>
    <p>
      Haliganda, občianske združenie <br />
      Jenisejská 2 Košice, 04012 <br />
      IČO: 35 547 367
    </p>
  </div>
  <div class="contact">
    <mat-icon>person</mat-icon>
    <p>
      e-mail: haligandakosice@gmail.com <br />
      tel. : 0904655225, 0903257619 <br />
    </p>
  </div>
  <div class="bank">
    <mat-icon>account_balance_wallet</mat-icon>
    <p>SK98 1100 0000 0026 2172 1045</p>
  </div>
  <div class="social">
    <mat-icon>public</mat-icon>
    <div>
      <a href="https://www.facebook.com/MCHaliganda/" target="_blank">Facebook</a>
      <a href="https://www.youtube.com/channel/UC3xXyL__uFjWoydZvXHpV4A" target="_blank">YouTube</a>
    </div>
  </div>
</footer>
