<div class="main-wrapper">
  <div *ngIf="(eventItem$ | async) as eventItem" class="container margin-bottom4">
    <h1 class="text-center">{{ eventItem.heading }}</h1>
    <header class="margin-bottom2">
      <a mat-button routerLink="/events"><mat-icon>arrow_back</mat-icon></a>
      <ng-container *ngTemplateOutlet="actionButtons; context: { user: loggedInUser$ | async, eventItem: eventItem }"></ng-container>
    </header>
    <p [innerHTML]="domSanitizer.bypassSecurityTrustHtml(eventItem.description)"></p>
    <img class="margin-top2" *ngIf="eventItem.picture" [src]="eventItem.picture.split(',')[0]" />
  </div>
</div>

<ng-template #actionButtons let-loggedInUser="user" let-eventItem="eventItem">
  <button
    *ngIf="
      ((bookLoading && isSold(eventItem)) || !isSold(eventItem)) &&
      ((!isBookedForUser(loggedInUser, eventItem) || bookLoading) && !unbookLoading)
    "
    mat-flat-button
    color="primary"
    [disabled]="bookLoading"
    (click)="handleBookForEvent(eventItem, loggedInUser)"
  >
    Rezervovať miesto
  </button>
  <button
    *ngIf="(isBookedForUser(loggedInUser, eventItem) && !bookLoading) || (unbookLoading && !bookLoading)"
    mat-flat-button
    color="warn"
    [disabled]="unbookLoading"
    (click)="handleUnbookForEvent(eventItem, loggedInUser)"
  >
    Zrušiť rezerváciu
  </button>
  <button mat-flat-button disabled *ngIf="!isBookedForUser(loggedInUser, eventItem) && isSold(eventItem) && !bookLoading">
    VYPREDANÉ
  </button>
</ng-template>
