<div class="main-wrapper">
  <div *ngIf="(eventItem$ | async) as eventItem" class="container margin-bottom4">
    <header class="margin-bottom1">
      <a mat-button routerLink="/events"><mat-icon>arrow_back</mat-icon></a>
    </header>
    <h1 class="text-center margin-bottom1">{{ eventItem.heading }}</h1>
    <ng-container *ngTemplateOutlet="actionButtons; context: { user: loggedInUser$ | async, eventItem: eventItem }"></ng-container>
    <div class="clearfix content margin-top1">
      <img *ngIf="eventItem.picture" [src]="eventItem.picture.split(',')[0]" />
      <p [innerHTML]="domSanitizer.bypassSecurityTrustHtml(eventItem.description)"></p>
    </div>
  </div>
</div>

<ng-template #actionButtons let-loggedInUser="user" let-eventItem="eventItem">
  <button
    *ngIf="
      ((bookLoading && isSold(eventItem)) || !isSold(eventItem)) &&
      ((!isBookedForUser(loggedInUser, eventItem) || bookLoading) && !unbookLoading)
    "
    mat-flat-button
    color="primary"
    [disabled]="bookLoading"
    (click)="handleBookForEvent(eventItem, loggedInUser)"
    class="block-center"
  >
    Rezervovať miesto
  </button>
  <button
    *ngIf="(isBookedForUser(loggedInUser, eventItem) && !bookLoading) || (unbookLoading && !bookLoading)"
    mat-flat-button
    color="warn"
    [disabled]="unbookLoading"
    (click)="handleUnbookForEvent(eventItem, loggedInUser)"
    class="block-center"
  >
    Zrušiť rezerváciu
  </button>
  <button
    class="block-center"
    mat-flat-button
    disabled
    *ngIf="!isBookedForUser(loggedInUser, eventItem) && isSold(eventItem) && !bookLoading"
  >
    VYPREDANÉ
  </button>
</ng-template>
