<div class="main-wrapper">
  <div *ngIf="(eventItem$ | async) as eventItem" class="container margin-bottom4">
    <h1 class="text-center">{{ eventItem.heading }}</h1>
    <header class="margin-bottom2">
      <a mat-button routerLink="/events"><mat-icon>arrow_back</mat-icon></a>
      <button
        *ngIf="(!loggedInUser || loggedInUser.events?.indexOf(eventItem.id) < 0 || bookLoading) && !unbookLoading"
        mat-flat-button
        color="primary"
        [disabled]="bookLoading"
        (click)="handleBookForEvent(eventItem)"
      >
        Rezervovať miesto
      </button>
      <button
        *ngIf="(loggedInUser && loggedInUser.events?.indexOf(eventItem.id) >= 0 && !bookLoading) || (unbookLoading && !bookLoading)"
        mat-flat-button
        color="warn"
        [disabled]="unbookLoading"
        (click)="handleUnbookForEvent(eventItem)"
      >
        Zrušiť rezerváciu
      </button>
    </header>
    <p [innerHTML]="eventItem.description"></p>
    <img class="margin-top2" *ngIf="eventItem.picture" [src]="eventItem.picture.url" alt="eventItem.picture.name" />
  </div>
</div>
