<form *ngIf="serviceItem" class="item-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <mat-form-field> <input matInput name="name" [ngModel]="serviceItem.name" type="text" placeholder="Názov" /> </mat-form-field>
  <label>Popis</label>
  <app-ngx-editor
    [config]="wysiwygOptions"
    class="item-form__main-content"
    [(ngModel)]="serviceItem.description"
    [ngModelOptions]="{ standalone: true }"
  ></app-ngx-editor>
  <mat-form-field class="small-input">
    <mat-select placeholder="Kategória" name="category" [ngModel]="serviceItem.category">
      <mat-option *ngFor="let category of categories" [value]="category.value">{{ category.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <label>Obrázok</label>
  <div class="item-form__upload-container"><ng-content></ng-content></div>
  <mat-error *ngIf="!isValid">Hodnoty 'názov' a 'popis' nesmú byť prázdne</mat-error>
  <mat-error *ngIf="isError">Nastala chyba. Skúste znova.</mat-error>
  <button mat-flat-button color="primary" class="item-form__submit-button" type="submit" [disabled]="isLoading">Publikovať</button>
  <button mat-button color="accent" type="button" class="item-form__cancel-button" routerLink="/admin/services/list" [disabled]="isLoading">
    Späť
  </button>
</form>
