@import '~@angular/material/theming';

$app-primary: mat-palette($mat-green, 900);
$app-accent: mat-palette($mat-light-green, 900);
$app-warn: mat-palette($mat-red);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$light-grey: #bdbdbd;
$white: #ffffff;
$dark: #212121;
