<video
  *ngIf="!isMobile"
  class="fullscreen-background"
  preload="auto"
  autoplay
  loop
  oncanplay="this.muted=true"
  poster="/assets/img/bg-image.jpg"
>
  <source src="/assets/video/bg-video.mp4" type="video/mp4" />
  <img src="/assets/img/bg-image.jpg" />
</video>
<img *ngIf="isMobile" class="fullscreen-background" src="/assets/img/bg-image.jpg" />
<div class="overlay"></div>
<header class="text-center" #header>
  <h1>HALIGANDA</h1>
  <button class="move-down-button" mat-icon-button (click)="scrollDown()"><mat-icon>expand_more</mat-icon></button>
</header>
<div *ngIf="serverData$ | async as serverData">
  <app-page-description
    [description]="domSanitizer.bypassSecurityTrustHtml(serverData.mainDescription.description)"
    #pageDescription
  ></app-page-description>
  <section class="main-cards">
    <app-picture-card
      heading="DOM KREATIVITY"
      [description]="serverData.houseOfCreativity.shortDescription"
      imagePath="/assets/img/dk-title.jpg"
      (moreClicked)="navigateTo('/rooms/houseOfCreativity')"
    ></app-picture-card>
    <app-picture-card
      heading="DIVADLO HALIGANDA"
      [description]="serverData.theater.shortDescription"
      imagePath="/assets/img/divadlo-title.jpg"
      (moreClicked)="navigateTo('/rooms/theater')"
    ></app-picture-card>
    <app-picture-card
      heading="KREATÍVNE ŠKOLY PRE DETI"
      [description]="serverData.creativeSchools.shortDescription"
      imagePath="/assets/img/ks-title.jpg"
      (moreClicked)="navigateTo('/rooms/creativeSchools')"
    ></app-picture-card>
  </section>
  <div class="map">
    <app-page-map></app-page-map>
  </div>
</div>
