<video *ngIf="!isMobile" class="fullscreen-background" autoplay loop oncanplay="this.muted=true">
  <source src="/assets/video/bg-video.mp4" type="video/mp4" />
  <img src="/assets/img/bg-image.jpg" />
</video>
<img *ngIf="isMobile" class="fullscreen-background" src="/assets/img/bg-image.jpg" />
<div class="overlay"></div>
<header class="text-center" #header>
  <h1>HALIGANDA</h1>
  <button class="move-down-button" mat-icon-button (click)="scrollDown()"><mat-icon>expand_more</mat-icon></button>
</header>
<div *ngIf="(serverData$ | async) as serverData">
  <app-page-description
    [description]="domSanitizer.bypassSecurityTrustHtml(serverData.mainDescription.description)"
    #pageDescription
  ></app-page-description>
  <section class="main-cards">
    <app-picture-card
      heading="DOM KREATIVITY"
      [description]="serverData.houseOfCreativity.shortDescription"
      imagePath="https://picsum.photos/200/300/?random"
      (moreClicked)="navigateTo('/rooms/houseOfCreativity')"
    ></app-picture-card>
    <app-picture-card
      heading="MONTESSORI"
      [description]="serverData.montessori.shortDescription"
      imagePath="https://picsum.photos/200/300/?random"
      (moreClicked)="navigateTo('/rooms/montessori')"
    ></app-picture-card>
    <app-picture-card
      heading="RODINNÉ CENTRUM"
      [description]="serverData.familyCenter.shortDescription"
      imagePath="https://picsum.photos/200/300/?random"
      (moreClicked)="navigateTo('/rooms/familyCenter')"
    ></app-picture-card>
  </section>
</div>
