<h2 class="margin-top1 text-center">{{ heading }}</h2>

<button *ngIf="!!id" mat-flat-button color="warn" class="delete-button" (click)="onServiceItemDelete()">Vymazať službu</button>
<app-admin-serviceitem-form [isError]="isError" [isLoading]="isLoading" [serviceItem]="serviceItem$ | async" (submitted)="onSubmit($event)">
  <ng-container titlePictures>
    <app-upload *ngIf="!images || images.length < 4" (fileUploaded)="onImageUploaded($event)" [loading]="isImageLoading"></app-upload>
    <div *ngFor="let image of images" class="overlayed-element picture-wrapper margin-top1" (click)="onImageDelete(image)">
      <img *ngIf="image.fromServer" [src]="image.fromServer" /> <img *ngIf="image.currentUpload" [src]="image.currentUpload.base64" />
      <div class="overlayed-element__overlay overlayed-element__overlay--warn">
        <span> <mat-icon class="delete-icon">delete</mat-icon> </span>
      </div>
    </div>
  </ng-container>
  <ng-container backgroundPicture>
    <app-upload
      *ngIf="!backgroundPicture.fromServer && !backgroundPicture.currentUpload"
      (fileUploaded)="onBackgroundPictureUploaded($event)"
      [loading]="isBgImageLoading"
    ></app-upload>
    <div
      *ngIf="backgroundPicture.fromServer || backgroundPicture.currentUpload"
      class="overlayed-element picture-wrapper"
      (click)="onBackgroundPictureDelete(backgroundPicture)"
    >
      <img *ngIf="backgroundPicture.fromServer" [src]="backgroundPicture.fromServer" />
      <img *ngIf="backgroundPicture.currentUpload" [src]="backgroundPicture.currentUpload.base64" />
      <div class="overlayed-element__overlay overlayed-element__overlay--warn">
        <span> <mat-icon class="delete-icon">delete</mat-icon> </span>
      </div>
    </div>
  </ng-container>
</app-admin-serviceitem-form>
