@import '_variables';

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/login-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  max-width: 30rem;
  background-color: $white;
}

.login-tab,
.registration-tab {
  padding: 2rem 3rem 3rem;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    & > * {
      width: 75%;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}

.login-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-policy {
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem 0;
}

.reset-password {
  margin-top: 1rem;
  font-size: 0.9rem;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
