<div class="auth-wrapper">
  <div class="auth-box">
    <mat-tab-group class="tab-group" mat-stretch-tabs>
      <mat-tab label="Prihlásenie">
        <div class="login-tab">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <mat-form-field> <input matInput type="email" name="email" placeholder="email" ngModel /> </mat-form-field>
            <mat-form-field> <input matInput type="password" name="password" placeholder="heslo" ngModel /> </mat-form-field>

            <mat-error *ngIf="areCredentialsValid" class="login__invalid-message">Nesprávne prihlasovacie údaje</mat-error>
            <button mat-flat-button [disabled]="loginInProcess" color="accent">PRIHLÁSIŤ SA</button>
          </form>
          <div class="or margin-top1 margin-bottom1">alebo</div>
          <button mat-flat-button color="warn" class="google-button">Prihlásenie cez Google+</button>
        </div>
      </mat-tab>
      <mat-tab label="Registrácia"> Content 2 </mat-tab>
    </mat-tab-group>
  </div>
</div>
