<div class="auth-wrapper">
  <div class="auth-box">
    <mat-tab-group class="full-width" mat-stretch-tabs>
      <mat-tab label="Prihlásenie">
        <div class="login-tab">
          <form (ngSubmit)="onLoginSubmit(loginForm)" #loginForm="ngForm">
            <mat-form-field> <input matInput type="email" name="email" placeholder="Email" ngModel required /> </mat-form-field>
            <mat-form-field> <input matInput type="password" name="password" placeholder="Heslo" ngModel required /> </mat-form-field>

            <mat-error *ngIf="areCredentialsValid" class="login__invalid-message">Nesprávne prihlasovacie údaje</mat-error>
            <button mat-flat-button [disabled]="loginInProcess" color="accent">PRIHLÁSIŤ SA</button>
          </form>
          <a class="reset-password" (click)="resetPassword()">Obnoviť heslo</a>
          <div class="bold margin-top1 margin-bottom1">alebo</div>
          <button mat-flat-button color="warn" class="bold" (click)="onGoogleLogin()">Prihlásenie cez Google+</button>
        </div>
      </mat-tab>
      <mat-tab label="Registrácia">
        <div class="registration-tab">
          <form (ngSubmit)="onRegistrationSubmit(registrationForm)" #registrationForm="ngForm">
            <mat-form-field> <input matInput name="firstName" placeholder="Meno" ngModel required /> </mat-form-field>
            <mat-form-field> <input matInput name="lastName" placeholder="Priezvisko" ngModel required /> </mat-form-field>
            <mat-form-field> <input matInput type="email" name="email" placeholder="Email" ngModel email required /> </mat-form-field>
            <mat-form-field>
              <input matInput type="password" name="password" placeholder="Heslo" ngModel minlength="6" required />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="password"
                name="passwordConfirm"
                placeholder="Heslo znovu"
                ngModel
                minlength="6"
                appPasswordMatch
                required
              />
            </mat-form-field>
            <p class="registration-policy">Registrovaním súhlasíte so spracovaním osobných údajov.</p>
            <button mat-flat-button [disabled]="registrationInProcess" color="accent">REGISTROVAŤ SA</button>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
