<div class="wrapper">
  <div class="login">
    <header>
      <img src="/src/assets/img/logo2.png" alt="logo">
    </header>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="login__form">
      <mat-form-field>
        <input matInput type="email" name="email" placeholder="admin" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" name="password" placeholder="heslo" ngModel>
      </mat-form-field>

      <mat-error *ngIf="!areCredentialsValid" class="login__invalid-message">Nesprávne prihlasovacie údaje</mat-error>
      <button mat-stroked-button [disabled]="loginInProcess">PRIHLÁSIŤ SA</button>
    </form>
  </div>
</div>