<form *ngIf="contact" class="item-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <mat-form-field> <input matInput name="firstName" [ngModel]="contact.firstName" type="text" placeholder="Meno" /> </mat-form-field>
  <mat-form-field> <input matInput name="lastName" [ngModel]="contact.lastName" type="text" placeholder="Priezvisko" /> </mat-form-field>
  <mat-form-field> <input matInput name="email" [ngModel]="contact.email" type="email" placeholder="Email" /> </mat-form-field>
  <mat-form-field> <input matInput name="phone" [ngModel]="contact.phone" type="tel" placeholder="Telefón" /> </mat-form-field>
  <label>Popis</label>
  <app-ngx-editor
    [config]="wysiwygOptions"
    class="item-form__main-content"
    [(ngModel)]="contact.description"
    [ngModelOptions]="{ standalone: true }"
  ></app-ngx-editor>
  <mat-form-field class="small-input">
    <input matInput name="order" [ngModel]="contact.order" type="number" placeholder="Poradie" />
  </mat-form-field>
  <label>Obrázok</label>
  <div class="item-form__upload-container"><ng-content></ng-content></div>
  <mat-error *ngIf="!isValid">Prosím vyplnte všetky položky.</mat-error>
  <mat-error *ngIf="isError">Nastala chyba. Skúste znova.</mat-error>
  <button mat-flat-button color="primary" class="item-form__submit-button" type="submit" [disabled]="isLoading">Publikovať</button>
  <button mat-button color="accent" type="button" class="item-form__cancel-button" routerLink="/admin/contacts/list" [disabled]="isLoading">
    Späť
  </button>
</form>
