.delete-button {
  display: flex;
  margin-left: auto;
}

.delete-icon {
  font-size: 30px;
}

.picture-wrapper {
  max-width: 200px;
  height: auto;
  & > * {
    max-width: inherit;
    height: inherit;
  }
}
