<li class="event">
  <div class="event__left-side">
    Prihlasovanie do <br />
    {{ itemData.deadlineDate.toDate() | date: 'd.M.yyyy' }}
  </div>
  <div class="event__middle">
    <div *ngIf="itemData.picture" class="event__middle__picture">
      <img [src]="itemData.picture.split(',')[1]" />
    </div>
    <div class="event__middle__text">
      <h3>{{ itemData.heading }}</h3>
      <p>{{ itemData.shortDescription }}</p>
      <a mat-button (click)="readMoreClicked.emit()">čítať viac..</a>
    </div>
  </div>
  <button
    mat-flat-button
    [color]="isBooked ? 'warn' : 'primary'"
    *ngIf="isBooked || !isSold()"
    [class.event__right-side--reserved]="isBooked"
    class="event__right-side"
    (click)="handleClick()"
    [disabled]="loading"
  >
    {{ !isBooked ? 'Rezervovať miesto' : 'Zrušiť rezerváciu' }}
  </button>
  <button class="event__right-side" mat-flat-button disabled *ngIf="!isBooked && isSold() && !loading">
    VYPREDANÉ
  </button>
</li>
