.service-item {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://picsum.photos/500/500/?random');
  background-repeat: no-repeat;
  background-size: cover;
  &__gallery {
    display: flex;
    justify-content: center;

    img {
      border: 0.25rem solid white;
      border-radius: 50%;
      object-fit: cover;
      max-width: 6rem;
      max-height: 6rem;
      width: 100%;
      height: auto;
      margin-right: -1rem;

      &:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: 480px) {
        max-width: 5rem;
        max-height: 5rem;
      }
      @media screen and (max-width: 350px) {
        max-width: 4rem;
        max-height: 4rem;
      }
    }
  }
}
