<div class="main-wrapper">
  <h1 class="text-center">PROGRAM {{ filterString }}</h1>
  <div class="container margin-top2 margin-bottom4">
    <ul>
      <ng-container *ngTemplateOutlet="events; context: { user: loggedInUser$ | async }"></ng-container>
    </ul>
    <button
      mat-stroked-button
      color="primary"
      *ngIf="eventsLength && eventsLength < (eventsCount$ | async)"
      (click)="loadMore.next()"
      [disabled]="isLoadingEvents"
    >
      načítať ďalšie
    </button>
  </div>
</div>

<ng-template #events let-loggedInUser="user">
  <app-event
    *ngFor="let event of events$ | async; trackBy: trackByFn"
    [itemData]="event"
    [isBooked]="isBookedForUser(loggedInUser, event)"
    [loading]="loadingId === event.id"
    (bookClicked)="handleBookForEvent(event, loggedInUser)"
    (unbookClicked)="handleUnbookForEvent(event, loggedInUser)"
    (readMoreClicked)="navigateToEventDetails(event)"
  ></app-event>
</ng-template>
