/* You can add global styles to this file, and also import other style files */
@import '_variables.scss';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';
@import '_item-form.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}

.overlayed-element {
  position: relative;
  cursor: pointer;
  &:hover {
    .overlayed-element__overlay {
      opacity: 1;
      & > span {
        transform: translateY(0%);
      }
    }
  }
}

.overlayed-element__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &--warn {
    background-color: rgba($warn, 0.9);
  }

  &--primary {
    background-color: rgba($primary, 0.9);
  }

  & > * {
    transition: 0.6s ease;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transform: translateY(100%);
  }
}

.container {
  max-width: 900px;
  margin: auto;
}

.edit-button {
  background-color: $primary;
  color: $white;
  outline: 0;
  border: none;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: darken($color: $primary, $amount: 5);
  }
}

.warn-text {
  color: $warn;
  font-weight: bold;
}
