<h2 class="margin-top1 text-center">{{ heading }}</h2>

<button *ngIf="!!id" mat-flat-button color="warn" class="delete-button" (click)="onNewsItemDelete()">Vymazať aktualitu</button>
<app-admin-newsitem-form [isError]="isError" [isLoading]="isLoading" [newsItem]="newsItem$ | async" (submitted)="onSubmit($event)">
  <app-upload *ngIf="!image.fromServer && !image.currentUpload" (fileUploaded)="onImageUploaded($event)"></app-upload>
  <div *ngIf="image.fromServer || image.currentUpload" class="overlayed-element picture-wrapper" (click)="onImageDelete()">
    <img *ngIf="image.fromServer" [src]="image.fromServer.split(',')[1]" />
    <img *ngIf="image.currentUpload" [src]="image.currentUpload.base64" />
    <div class="overlayed-element__overlay overlayed-element__overlay--warn">
      <span> <mat-icon class="delete-icon">delete</mat-icon> </span>
    </div>
  </div>
</app-admin-newsitem-form>
