<li class="event">
  <div class="event__left-side">
    {{ itemData.date.toDate() | date: 'd.MMM' }} <br />
    {{ itemData.date.toDate() | date: 'HH:mm' }}
  </div>
  <div class="event__middle">
    <img *ngIf="itemData.picture?.url" [src]="itemData.picture.url" />
    <div class="event__middle__text">
      <h3>{{ itemData.heading }}</h3>
      <p>{{ itemData.shortDescription }}</p>
      <a mat-button (click)="readMoreClicked.emit()">čítať viac..</a>
    </div>
  </div>
  <div *ngIf="!loggedInUser || loggedInUser.events?.indexOf(itemData.id) < 0" class="event__right-side" (click)="bookClicked.emit()">
    Rezervovať miesto
  </div>
  <div
    *ngIf="loggedInUser && loggedInUser.events?.indexOf(itemData.id) >= 0"
    class="event__right-side event__right-side--reserved"
    (click)="unbookClicked.emit()"
  >
    Zrušiť rezerváciu
  </div>
</li>
