<div class="main-wrapper">
  <div *ngIf="(course$ | async) as course" class="container margin-bottom4">
    <header class="margin-bottom1">
      <a mat-button routerLink="/courses"><mat-icon>arrow_back</mat-icon></a>
    </header>
    <h1 class="text-center">{{ course.heading }}</h1>
    <ng-container *ngTemplateOutlet="actionButtons; context: { user: loggedInUser$ | async, course: course }"></ng-container>
    <div class="clearfix content margin-top1">
      <img *ngIf="course.picture" [src]="course.picture.split(',')[0]" alt="course.picture.name" />
      <p [innerHTML]="domSanitizer.bypassSecurityTrustHtml(course.description)"></p>
    </div>
  </div>
</div>

<ng-template #actionButtons let-loggedInUser="user" let-course="course">
  <button
    *ngIf="
      ((bookLoading && isSold(course)) || !isSold(course)) && ((!isBookedForUser(loggedInUser, course) || bookLoading) && !unbookLoading)
    "
    mat-flat-button
    color="primary"
    [disabled]="bookLoading"
    (click)="handleBookForCourse(course, loggedInUser)"
    class="block-center"
  >
    Rezervovať miesto
  </button>
  <button
    *ngIf="(isBookedForUser(loggedInUser, course) && !bookLoading) || (unbookLoading && !bookLoading)"
    mat-flat-button
    color="warn"
    [disabled]="unbookLoading"
    (click)="handleUnbookForCourse(course, loggedInUser)"
    class="block-center"
  >
    Zrušiť rezerváciu
  </button>
  <button mat-flat-button disabled *ngIf="!isBookedForUser(loggedInUser, course) && isSold(course) && !bookLoading" class="block-center">
    VYPREDANÉ
  </button>
</ng-template>
