<form *ngIf="eventItem" class="item-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <mat-form-field> <input matInput name="heading" [ngModel]="eventItem.heading" type="text" placeholder="Nadpis" /> </mat-form-field>
  <mat-form-field>
    <textarea matInput name="shortDescription" [ngModel]="eventItem.shortDescription" placeholder="Krátky popis"></textarea>
  </mat-form-field>
  <label>Obsah</label>
  <app-ngx-editor
    [config]="wysiwygOptions"
    class="item-form__main-content"
    [(ngModel)]="eventItem.description"
    [ngModelOptions]="{ standalone: true }"
  ></app-ngx-editor>
  <mat-form-field class="small-input">
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Dátum"
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="eventItem.date"
      [value]="eventItem.date"
      disabled
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker touchUi disabled="false"></mat-datepicker>
  </mat-form-field>
  <div>
    <mat-form-field class="extra-small-input">
      <input matInput name="hour" [ngModel]="eventItem.date | date: 'HH'" type="number" max="23" min="0" placeholder="Hodina" />
    </mat-form-field>
    :
    <mat-form-field class="extra-small-input">
      <input matInput name="minute" [ngModel]="eventItem.date | date: 'mm'" type="number" max="59" min="0" placeholder="Minúta" />
    </mat-form-field>
  </div>
  <mat-form-field class="small-input">
    <input matInput name="capacity" [ngModel]="eventItem.capacity" type="number" placeholder="Kapacita" />
  </mat-form-field>
  <mat-form-field class="small-input">
    <mat-select placeholder="Kategória" name="category" [ngModel]="eventItem.category">
      <mat-option *ngFor="let category of categories" [value]="category.value">{{ category.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <label>Obrázok</label>
  <div class="item-form__upload-container"><ng-content></ng-content></div>
  <mat-error *ngIf="!isValid">Hodnoty 'nadpis', 'dátum', 'hodina', 'minúta' a 'obsah' nesmú byť prázdne</mat-error>
  <mat-error *ngIf="isError">Nastala chyba. Skúste znova.</mat-error>
  <button mat-flat-button color="primary" class="item-form__submit-button" type="submit" [disabled]="isLoading">Publikovať</button>
  <button mat-button color="accent" type="button" class="item-form__cancel-button" routerLink="/admin/events/list" [disabled]="isLoading">
    Späť
  </button>
</form>
