<h2>NOVÁ AKTUALITA</h2>

<form class="new-newsitem-form">
  <mat-form-field>
    <input matInput type="text" placeholder="Nadpis">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Krátky popis"></textarea>
  </mat-form-field>
  <label>Obsah</label>
  <app-ngx-editor [config]="wysiwygOptions" class="new-newsitem-form__main-content"></app-ngx-editor>
  <label>Obrázok</label>
  <input type="file" #fileInput>
  <button mat-flat-button color="accent" (click)="fileInput.click()" class="new-newsitem-form__upload-image-button">
    <mat-icon>cloud_upload</mat-icon>
    nahrať
  </button>
  <button mat-flat-button color="primary" class="new-newsitem-form__submit-button">Publikovať</button>
  <button mat-button color="accent" type="button" class="new-newsitem-form__cancel-button">Späť</button>
</form>