h2 {
  text-align: center;
  margin-top: 30px;
}

.new-newsitem-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;

  label {
    color: #777777;
  }

  &__main-content {
    margin-bottom: 15px;
  }

  &__submit-button {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__cancel-button {
    border: 1px solid #ddd;
  }

  &__picture-wrapper {
    max-width: 200px;
    height: auto;
    & > * {
      max-width: inherit;
      height: inherit;
    }
  }
}

.delete-icon {
  font-size: 30px;
}
