<li class="overlayed-element">
  <div class="event__container">
    <div class="event__left-side">
      <b>{{ event.date.toDate() | date: 'dd.MMM' | uppercase }}</b> {{ event.date.toDate() | date: 'HH:mm' }}
    </div>
    <div class="event__main-content">
      <img *ngIf="event.picture?.url" [src]="event.picture.url" />
      <div class="event__main-content__text">
        <h3>{{ event.heading }}</h3>
        <p>{{ event.description }}</p>
      </div>
    </div>
    <div
      [ngClass]="{ 'event__right-side--warn': isWarn === true }"
      [ngClass]="{ 'event__right-side--client': isClient === true }"
      class="event__right-side"
    >
      <ng-content></ng-content>
    </div>
  </div>
  <div class="overlayed-element__overlay overlayed-element__overlay--primary">
    <span>{{ overlayText }}</span>
  </div>
</li>
