@import '_variables.scss';

h2 {
  text-align: center;
  margin-top: 30px;
}

.newsitem-form {
  display: flex;
  flex-direction: column;

  label {
    color: $grey;
  }

  &__main-content {
    margin-bottom: 15px;
  }

  &__upload-container {
    margin-bottom: 10px;
  }

  &__submit-button {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__cancel-button {
    border: 1px solid $light;
  }
}
