@import '_variables.scss';

.news-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 4px 3px 18px -1px $light-grey;

  @media screen and (max-width: 400px) {
    flex-direction: column;
    text-align: center;
  }

  &__picture {
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid $primary;
    height: 80px;
    width: 80px;
  }

  &__content {
    flex: 0.75;
    p {
      color: $grey;
      font-size: 13px;
    }
  }

  &__date {
    font-size: 13px;
  }
}
