<li class="overlayed-element" (click)="clicked.emit()">
  <div class="news-item">
    <img *ngIf="itemData.picture?.url" [src]="itemData.picture.url" class="news-item__picture" />
    <div class="news-item__content">
      <h3 class="news-item__heading">{{ itemData.heading }}</h3>
      <p>{{ itemData.shortDescription }}</p>
    </div>
    <div class="news-item__date">{{ itemData.date.toDate() | date: 'dd.MM.yyyy' }}</div>
  </div>
  <div class="overlayed-element__overlay overlayed-element__overlay--primary">
    <span>{{ overlayText }}</span>
  </div>
</li>
