<h1>AKTUALITY</h1>
<button mat-flat-button color="primary">PRIDAŤ</button>
<ul>
  <li>
    <div class="news-item">
      <img src="https://picsum.photos/200/300/?random" class="news-item__picture">
      <div class="news-item__content">
        <h3 class="news-item__heading">Montessori tento týždeň na tému TELO</h3>
        <p>Lorem ipsum bla bla bla sad sad asd la bla bla sad sad asd la bla bla sad sad asd...</p>
      </div>
      <div class="news-item__date">22.7.1997</div>
    </div>
    <div class="news-item-overlay">
      <span>UPRAVIŤ</span>
    </div>
  </li>
  <li>
    <div class="news-item">
      <img src="https://picsum.photos/200/300/?random" class="news-item__picture">
      <div class="news-item__content">
        <h3 class="news-item__heading">Montessori tento týždeň na tému TELO</h3>
        <p>Lorem ipsum bla bla bla sad sad asd la bla bla sad sad asd la bla bla sad sad asd...</p>
      </div>
      <div class="news-item__date">22.7.1997</div>
    </div>
    <div class="news-item-overlay">
      <span>UPRAVIŤ</span>
    </div>
  </li>
  <li>
    <div class="news-item">
      <img src="https://picsum.photos/200/300/?random" class="news-item__picture">
      <div class="news-item__content">
        <h3 class="news-item__heading">Montessori tento týždeň na tému TELO</h3>
        <p>Lorem ipsum bla bla bla sad sad asd la bla bla sad sad asd la bla bla sad sad asd...</p>
      </div>
      <div class="news-item__date">22.12.1997</div>
    </div>
    <div class="news-item-overlay">
      <span>UPRAVIŤ</span>
    </div>
  </li>
  <li>
    <div class="news-item">
      <img src="https://picsum.photos/200/300/?random" class="news-item__picture">
      <div class="news-item__content">
        <h3 class="news-item__heading">Montessori tento týždeň na tému TELO</h3>
        <p>Lorem ipsum bla bla bla sad sad asd la bla bla sad sad asd la bla bla sad sad asd...</p>
      </div>
      <div class="news-item__date">22.7.1997</div>
    </div>
    <div class="news-item-overlay">
      <span>UPRAVIŤ</span>
    </div>
  </li>
  <li>
    <div class="news-item">
      <img src="https://picsum.photos/200/300/?random" class="news-item__picture">
      <div class="news-item__content">
        <h3 class="news-item__heading">Montessori tento týždeň na tému TELO</h3>
        <p>Lorem ipsum bla bla bla sad sad asd la bla bla sad sad asd la bla bla sad sad asd...</p>
      </div>
      <div class="news-item__date">22.7.1997</div>
    </div>
    <div class="news-item-overlay">
      <span>UPRAVIŤ</span>
    </div>
  </li>
</ul>