.gallery-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-img {
  height: 10rem;
  width: auto;
}

.selectable {
  margin: 0.5rem;
}

.gallery-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &--center {
    justify-content: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }
}

.folders-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  justify-content: center;
  & > * {
    margin: 0 1em 1em;
  }
}

img {
  display: block;
  width: 100%;
}

input[type='file'] {
  display: none;
}
