<nav class="navigation">
  <img class="navigation__logo" src="/src/assets/img/logo2.png" alt="Logo">
  <ul class="navigation__menu">
    <ng-container *ngTemplateOutlet="items"></ng-container>
  </ul>
  <button mat-icon-button (click)="toggleMenu()" class="navigation__trigger">
    <mat-icon>menu</mat-icon>
  </button>
</nav>
<div class="navigation__drawer" [ngClass]="{ visible: isMenuVisible === true }">
  <ul class="navigation__list">
    <ng-container *ngTemplateOutlet="items"></ng-container>
  </ul>
  <button (click)="toggleMenu()" class="navigation__close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<ng-template #items>
  <li class="navigation__item">
    <span>Aktuality</span>
  </li>
  <li class="navigation__item">
    <span>Program</span>
  </li>
  <li class="navigation__item">
    <span>Kurzy</span>
  </li>
  <li class="navigation__item">
    <span>Služby</span>
  </li>
  <li class="navigation__item">
    <span>Galéria</span>
  </li>
  <li class="navigation__item">
    <span>Kontakt</span>
  </li>
  <li (click)="logout.emit()" class="navigation__item">
    <span>Odhlásiť sa</span>
  </li>
</ng-template>