@import '_utils';

.wrapper {
  position: relative;
  button {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
  }
}

.newsitem-details {
  p {
    text-align: justify;
    margin-right: 1rem;
  }

  img {
    margin: 0 0 1rem 1rem;
    float: right;
    max-width: 40%;
    height: auto;
  }
}
