<div class="main-wrapper">
  <h1 class="text-center">KURZY</h1>
  <div class="container margin-top2 margin-bottom4">
    <ul>
      <ng-container *ngTemplateOutlet="courses; context: { user: loggedInUser$ | async }"></ng-container>
    </ul>
    <button
      mat-stroked-button
      color="primary"
      *ngIf="coursesLength && coursesLength < (coursesCount$ | async)"
      (click)="loadMore.next()"
      [disabled]="isLoadingCourses"
    >
      načítať ďalšie
    </button>
  </div>
</div>

<ng-template #courses let-loggedInUser="user">
  <app-course
    *ngFor="let course of (courses$ | async); trackBy: trackByFn"
    [itemData]="course"
    [isBooked]="isBookedForUser(loggedInUser, course)"
    [loading]="loadingId === course.id"
    (bookClicked)="handleBookForCourse(course, loggedInUser)"
    (unbookClicked)="handleUnbookForCourse(course, loggedInUser)"
    (readMoreClicked)="navigateToCourseDetails(course)"
  ></app-course>
</ng-template>
