<h1>PROGRAM</h1>
<button mat-flat-button color="primary" routerLink="/admin/news/new">PRIDAŤ</button>
<ul>
  <app-event
    *ngFor="let event of (events$ | async); trackBy: trackByFn"
    [event]="event"
    [isWarn]="event.attendees.length >= event.capacity"
    [isClient]="true"
    [routerLink]="['/admin', 'news', event.id, 'edit']"
    overlayText="UPRAVIŤ"
  >
    <b>NAHLÁSENÝCH</b>
    <div>
      {{ event.attendees.length }} <span *ngIf="event.capacity"> / {{ event.capacity }} </span>
    </div>
  </app-event>
</ul>
<button
  mat-stroked-button
  color="primary"
  *ngIf="eventsLength && eventsLength < (eventsCount$ | async)"
  (click)="loadMore.next()"
  [disabled]="isLoading"
>
  načítať ďalšie
</button>
